html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
  height: 100vh;
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
}
